<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.timeSince" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presentation.eventsList.ViewOwnEventListActivity"
            android:exported="true"
            android:label="All Events"
            />
        <activity
            android:name=".presentation.events.CreateOwnEventActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.users.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".presentation.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.timeSince.presentation.HomeActivity" />
        </activity>
        <activity
            android:name=".presentation.users.LoginActivity"
            android:label="@string/action_login"
            android:parentActivityName=".presentation.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.timeSince.presentation.HomeActivity" />
        </activity>
        <activity
            android:name=".presentation.events.SingleEventActivity"
            android:parentActivityName=".presentation.events.SingleEventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.timeSince.presentation.events.SingleEventActivity" />
        </activity>
        <activity
            android:name=".presentation.labels.LabelListActivity"
            android:parentActivityName=".presentation.events.SingleEventActivity"
            android:label="All Labels" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.timeSince.presentation.labels.LabelListActivity" />
        </activity>
        <activity
            android:name=".presentation.labels.CreateOwnLabelActivity"
            android:label="Create Label"
            android:parentActivityName=".presentation.labels.LabelListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.timeSince.presentation.labels.LabelListActivity" />
        </activity>
    </application>

</manifest>